@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #d6e1f0;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 85%;
}
.card {
  background-color: #ffffff;
  width: 20rem;
  text-align: center;
  padding: 1.01rem 1rem 2.5rem 1rem;
  border-radius: 1.3rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}
img {
  width: 100%;
  border-radius: 0.625rem;
}
h3 {
  font-size: 1.38rem;
  margin: 1.25rem 0rem 0.9375rem 0rem;
  color: #222c46;
  line-height: 1.649rem;
}
p {
  font-size: 0.97rem;
  color: #83858b;
  line-height: 1.37rem;
  margin: 0px 0.625rem;
}

@media screen and (max-width: 375px) {
  .container {
    margin: auto;
  }
  .card {
    width: 100%;
  }
}
